@import "../variable";

.aboutCenter {
  width: 1000px;
  margin: 140px auto;
  font-weight: 100;
  .aboutBg{
    position: fixed;
    @include has20PX;
    background: url("../static/globalBG.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
  h1 {
    font-size: $font40;
    color: $linkColor;
    margin: 0 auto;
    line-height: 1.2;
    width: 400px;
    text-align: center;
    display: block;
    small {
      display: block;
      font-size: $font32;
      color: $white;
    }
  }
  .contentLeft, .contentRight {
    width: 480px;
    font-size: $font12;
    color: $smoke;
    margin: 40px auto 0 auto;
    line-height: 1.6;
  }
  .contentLeft {
    color: $linkColor;
    text-align: center;
  }
  .ge {
    width: 442px;
    height: 27px;
    background: url("./img/ge.png") no-repeat center;
    margin: 40px auto 0 auto;
  }
  .teamBtn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto 0;
    text-align: center;
    line-height: 40px;
    color: $linkColor;
    border: 1px solid $linkColor;
    @include border-radius(50px);
  }
  .business {
    width: 660px;
    margin: 40px auto;
    overflow: auto;
    dl {
      float: left;
      height: 200px;
      //padding: 20px;
      color: #707070;
      width: 300px;
      font-size: 12px;
      line-height: 1.4;
      dt {
        color: #d6b264;
        font-size: 24px;
        margin-bottom: 16px;
      }
      dd {
        margin: 0
      }
    }
    dl:nth-child(odd),dl:nth-child(even){
      text-align: center;
      line-height: 1.4;
    }
    dl:nth-child(odd) {
      margin: 20px 10px 0 20px;
    }
    dl:nth-child(even) {
      margin: 20px 20px 0 10px;
    }
    dl:last-child {
      margin-top: 88px;
    }
  }

}