#work {
  background: #2b2b2b url("img/screen2bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 0;
  .workTitle{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -187px;
    margin-top:-206px;
  }
}