@import "../variable";
#work {
  background: $bodyBg url("img/screen2bg.jpg") no-repeat center;
  background-size: cover;
  position: fixed;
  @include has20PX;
  .workTitle {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -187px;
    margin-top: -206px;
  }
  .workNav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: $white url("img/bg.jpg");
    li {
      width: 50%;
      float: left;
      text-align: center;
      height: 60px;
      margin-top: 5px;
      line-height: 60px;
      a {
        color: #2b2b2b;
        @include transition-property(color);
        @include transition-duration(.5s);
      }
      a:hover {
        color: $linkColor;
      }
    }
  }
}