//过渡动画
.ani {
  @include animation-duration(.6s);
  @include animation-fill-mode(both);
}

.ANI_delay {
  @include animation-delay(.2s);
}

.fade-transition {
  @include transition-property(opacity);
  @include transition-duration(.3s);
}

.fade-enter, .fade-leave {
  @include opacity(0);
}

.fadeInUp-transition {
  @include animation-name(fadeInUp);
}

.fadeInUp-leave {
  @include animation-name(fadeOutDown);
}

.zoomIn-transition {
  @include animation-name(zoomIn);
}

.zoomIn-leave {
  @include animation-name(zoomOut);
}

.zoomOut-transition {
  @include animation-name(zoomOut);
}

.bounceInUp-transition {
  @include animation-name(bounceInUp);
}

.fadeInDown-transition {
  @include animation-name(fadeInDown);
}

.modal-enter, .modal-leave {
  @include opacity(0);
  @include transform(scale(1.1));
}

.staggered-transition {
  @include transition-property(all);
  @include transition-duration(.5s);
  overflow: hidden;
  margin: 0;
  height: 62px;
}

.staggered-enter, .staggered-leave {
  @include opacity(0);
  height: 0;
}

@include keyframes(bounceInUp) {
  0% {
    opacity: 0;
    @include translateY(2000px);
  }
  60% {
    opacity: 1;
    @include translateY(-30px);
  }
  80% {
    @include translateY(10px);
  }
  100% {
    @include translateY(0);
  }
}

// ---------------------------------------------------------------------------
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ---------------------------------------------------------------------------
@include keyframes(fadeInUp) {
  0% {
    @include translateY(20px);
    opacity: 0;
  }
  100% {
    @include translateY(0);
    opacity: 1;
  }
}

// ---------------------------------------------------------------------------
@include keyframes(fadeOutDown) {
  0% {
    @include translateY(0);
    opacity: 1;
  }
  100% {
    @include translateY(20px);
    opacity: 0;
  }
}

// ---------------------------------------------------------------------------
@include keyframes(zoomIn) {
  from {
    @include opacity(0);
    @include scale3d(.3, .3, .3);
  }

  50% {
    @include opacity(1);
  }
}

// ---------------------------------------------------------------------------
@include keyframes(zoomOut) {
  from {
    @include opacity(1);
  }

  50% {
    @include opacity(0);
    @include scale3d(.3, .3, .3);
  }

  to {
    @include opacity(0);
  }
}

// ---------------------------------------------------------------------------
@include keyframes(fadeInDown) {
  0% {
    @include translateY(-20px);
    opacity: 0;
  }
  100% {
    @include translateY(0);
    opacity: 1;
  }
}

