$borderColor: #000;
$borderWidth: 20px;
$linkColor:#d6b264;
html {
  height: 100%;
  padding: 0;
  background: #000;
}

body {
  margin: $borderWidth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
.blur {
  -webkit-filter: blur(10px); /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
//四个边缘
.border-left, .border-right, .border-top, .border-bottom {
  position: fixed;
  background: $borderColor;
  z-index: 1000;
}

.border-left {
  left: 0;
  top: 0;
}

.border-right {
  right: 0
}

.border-top {
  top: 0;
}

.border-bottom {
  bottom: 0;
  text-align: center;
  span {
    color: #707070;
    font-size: 8px;
    font-weight: 100;
  }
}

.border-left, .border-right {
  width: $borderWidth;
  height: 100%;
}

.border-top, .border-bottom {
  width: 100%;
  height: $borderWidth;
}

.close {
  display: block;
  width: 60px;
  height: 60px;
  background: #2b2b2b url("nav/img/close.png") no-repeat center;
  background-size: 80%;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -ms-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}
.close:hover{
  background: $linkColor url("nav/img/close.png") no-repeat center;
}

//过渡动画
.fade-transition {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

.modal-enter, .modal-leave {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.staggered-transition {
  transition: all .5s ease;
  overflow: hidden;
  margin: 0;
  height: 62px;
}
.staggered-enter, .staggered-leave {
  opacity: 0;
  height: 0;
}

.cover-transition {
  transition: all .10s ease;
  overflow: hidden;
}
.cover-enter {
  opacity: 0;
  margin: 0;
}
.cover-leave {
  opacity: 0;
  margin: -25%;
}