@import "./variable";

html {
  height: 100%;
  padding: 0;
  background: #000 url("./static/globalBG.jpg") no-repeat center;
  background-size: 30%;
  background-attachment: fixed;
  font-weight: 100;
}

body {
  margin: $borderWidth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.blur {
  @include filter(blur(10px));
}

.gray {
  @include filter(grayscale(100%));
}

//四个边缘
.border-left, .border-right, .border-top, .border-bottom {
  position: fixed;
  background: $borderColor;
  z-index: 1000;
}

.border-left {
  left: 0;
  top: 0;
}

.border-right {
  right: 0
}

.border-top {
  top: 0;
}

.border-bottom {
  bottom: 0;
  text-align: center;
  span {
    color: $smoke;
    font-size: 8px;
    font-weight: 100;
    a{
      color: $smoke;
      @include transition-property(color);
      @include transition-duration(.3s);
    }
    a:hover{
      color: $linkColor;
    }
  }
}

.border-left, .border-right {
  width: $borderWidth;
  height: 100%;
}

.border-top, .border-bottom {
  width: 100%;
  height: $borderWidth;
}

.close, .backList {
  display: block;
  width: 60px;
  height: 60px;
  background: $bodyBg url("nav/img/close.png") no-repeat center;
  background-size: 80%;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
  @include transition-property(background-color);
  @include transition-duration(.4s);
}

.backList {
  top: 80px;
  background: $bodyBg url("situation/img/back.png") no-repeat center;
  background-size: 74%;
}

.close:hover {
  background: $linkColor url("nav/img/close.png") no-repeat center;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  @include user-select(none);
  @include perspective(12rem);
  z-index: 2000;
  position: fixed;
  height: 6rem;
  width: 6rem;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 6rem;
  width: 6rem !important;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  background: #d6b264;
  color: #fff;
  font-weight: 400;
  text-align: center;

  @include animation-name(pace-theme-center-circle-spin);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);
  @include animation-duration(2s);

  @include transform-style(preserve-3d);
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
}

@include keyframes(pace-theme-center-circle-spin){
  from {
    -webkit-transform: rotateY(0deg)
  }
  to {
    -webkit-transform: rotateY(360deg)
  }
}