$linkColor:#d6b264;

#nav{
  position: fixed;
  font-family: "roboto";
  font-weight: 100;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 1000;
  font-size: 12px;
  top:20px;
  li{
    width: 120px;
    float: left;
    text-align: center;
    a{
      color: #fff;
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -ms-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
    }
    a:hover{
      color: $linkColor;
    }
    .active{
      color: $linkColor;
    }
    h2{
      font-size: 10px;
      margin: 2px auto;
      font-weight: 200;
    }
  }
}