@import "../variable";

#nav{
  position: fixed;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  z-index: 1000;
  font-size: $font12;
  top:$borderWidth;
  li{
    width: 120px;
    float: left;
    text-align: center;
    a{
      color: $white;
      @include transition-property(color);
      @include transition-duration(.5s);
    }
    a:hover{
      color: $linkColor;
    }
    .active{
      color: $linkColor;
    }
    h2{
      font-size: $font12;
      margin: 2px auto;
      font-weight: 200;
    }
  }
}