$border_dis:40px;
#follow,#contact{
  display: block;
  position: fixed;
  color: #fff;
  top:$border_dis;
  z-index: 1000;
  text-decoration:line-through
}
#follow{
  left: $border_dis;
}
#contact{
  right: $border_dis;
}