$linkColor: #d6b264;

.showGraphic{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: 999;
  justify-content:center;//子元素水平居中
  align-items:center;//子元素垂直居中
  display:-webkit-flex;
  .close{
    top:90px;
    right: 104px;
  }
  img{
    display: block;
    position: relative;
    height: 80%;
    -webkit-box-shadow: 0 0 4px #000000;
    -moz-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #000000;
  }
  .graphicInfo{
    position: absolute;
    left: 80px;
    bottom: 120px;
    color: $linkColor;
    font-weight: 100;
    span{
      display: block;
    }
    time{
      font-size: 12px;
    }
  }
}