$FontPath: "./fonts" !default;
$FontName: "Roboto" !default;

@mixin fontdef-woff($FontPath, $FontName, $FontType:"Regular") {
  src:	url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff2') format('woff2'),
  url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.woff') format('woff'),
  url('#{$FontPath}/#{$FontType}/#{$FontName}-#{$FontType}.ttf') format('truetype');
}

/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Regular");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Regular");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Bold");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Bold");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Thin");
  font-weight: 100;
  font-style: normal;
}
/* END Thin */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  @include fontdef-woff($FontPath, $FontName, "Light");
  font-weight: 300;
  font-style: normal;
}
/* END Light */