@import "../variable";
#video {
  margin-bottom: 100px;
  margin-top: 90px;
  overflow: auto;
  .videoCover {
    margin: 0;
    li {
      position: relative;
      width: 25%;
      float: left;
      margin-bottom: -3px;
      overflow: hidden;
      .videoCoverHover {
        position: absolute;
        text-align: center;
        @include has20PX;
        background: rgba(0, 0, 0, .6);
        color: $easyMoney;
        transition: all .3s ease;
        padding: 20px;
        .videoDate, h2 {
          font-size: 30px;
          margin-top: 10px;
        }
        h2 {
          .enName {
            display: block;
            font-size: 14px;
            color: $linkColor;
          }
        }
      }
      time {
        display: block;
        font-size: 24px;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    li:hover {
      img {
        @include filter(blur(6px));
      }
    }
  }
  .videoToolBar {
    position: fixed;
    left: $borderWidth;
    right: $borderWidth;
    bottom: $borderWidth;
    height: 60px;
    background: rgba(255, 255, 255, .9);
    @include shadowOnSides(auto, 60px, 10px, rgba(0, 0, 0, .8), top);
    ul {
      margin: 0;
      li {
        height: 60px;
        line-height: 46px;
        padding: 0 20px;
        float: left;
        border-right: 1px solid $smoke;
        a {
          color: $bodyBg;
          font-size: 10px;
          h3 {
            margin: 0;
            height: 20px;

          }
        }
      }
    }
    input {
      display: block;
      float: right;
      width: 30%;
      height: 60px;
      margin: 0;
      text-indent: 46px;
      border: none;
      position: fixed;
      left: 588px;
      outline: none;
      background: url("../situation/img/search.png") no-repeat 10px center;
    }
    .goDesign{
      width: 60px;
      height: 60px;
      display: block;
      float: right;
      text-align: center;
      line-height: 60px;
      border-left: 1px solid $smoke;
    }
  }
}

