@import "../shadow.scss";

$linkColor: #d6b264;
#video {
  margin-bottom: 100px;
  margin-top: 90px;
  overflow: auto;
  .videoCover {
    margin: 0;
    li {
      position: relative;
      width: 25%;
      float: left;
      margin-bottom: -3px;
      overflow: hidden;
      -webkit-transition: all .10s ease;
      -moz-transition: all .10s ease;
      -ms-transition: all .10s ease;
      -o-transition: all .10s ease;
      transition: all .10s ease;
      .videoCoverHover {
        position: absolute;
        text-align: center;
        left: 20px;
        top: 20px;
        right: 20px;
        bottom: 20px;
        background: rgba(0, 0, 0, .6);
        color: #e0e8e0;
        transition: all .3s ease;
        padding: 20px;
        .videoDate, h2 {
          font-size: 30px;
          font-weight: 100;
          margin-top: 10px;
        }
        h2 {
          .enName {
            display: block;
            font-size: 14px;
            color: $linkColor;
          }
        }
      }
      time {
        display: block;
        font-size: 24px;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        //-webkit-filter: blur(0); /* Chrome, Opera */
        //-moz-filter: blur(0);
        //-ms-filter: blur(0);
        //filter: blur(0);
        -webkit-transition: all .7s;
        -moz-transition: all .7s;
        -ms-transition: all .7s;
        -o-transition: all .7s;
        transition: all .7s;
      }
    }
    li:hover {
      img {
        -webkit-filter: blur(6px); /* Chrome, Opera */
        -moz-filter: blur(6px);
        -ms-filter: blur(6px);
        filter: blur(6px);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=6, MakeShadow=false); /* IE6~IE9 */
      }
    }
  }
  .videoToolBar {
    position: fixed;
    bottom: 20px;
    height: 60px;
    background: rgba(255, 255, 255, .9);
    left: 20px;
    right: 20px;
    @include shadowOnSides(auto, 60px, 10px, rgba(0, 0, 0, .8), top);
    ul {
      margin: 0;
      li {
        height: 60px;
        line-height: 46px;
        padding: 0 20px;
        float: left;
        border-right: 1px solid #707070;
        a {
          color: #2b2b2b;
          font-size: 10px;
          font-weight: 100;
          h3 {
            margin: 0;
            height: 20px;

          }
        }
      }
    }
    input {
      display: block;
      float: right;
      width: 30%;
      height: 60px;
      margin: 0;
      text-indent: 46px;
      border: none;
      position: fixed;
      left: 588px;
      outline: none;
      background: url("../situation/img/search.png") no-repeat 10px center;
    }
    .goDesign{
      width: 60px;
      height: 60px;
      display: block;
      float: right;
      text-align: center;
      line-height: 60px;
      color: $linkColor;
      font-weight: 100;
      border-left: 1px solid #707070;
    }
  }
}

