@import "../variable";

#situation_content {
  width: 100%;
  height: 100%;
  h1 {
    font-size: $font32;
  }
  p {
    line-height:1.8;
    img{
      max-width: 100%;
    }
  }
  hr {
    @include the1PX;
  }
  time {
    text-indent: 40px;
    display: inline-block;
    font-size: $font32;
    color: $smoke;
    vertical-align: middle;
  }
  .catagory {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    font-size: 14px;
    background: $linkColor;
    margin-left: 20px;
    color: #fff;
  }
  .swiper-slide {
    width: 94%;
    margin: 20px auto 0 auto;
    height: auto;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
  }
}