@import "../variable";
#situation {
  position: fixed;
  z-index: 999;
  @include allBgAlpha;
  @include has20PX;
  @include display-flex;
  @include align-items(center);
  @include justify-content(center);
  .content {
    position: relative;
    width: 90%;
    height: 90%;
    max-width: 1600px;
    background: #fff url("../work/img/bg.jpg");
    overflow: hidden;
  }
}