@import "../variable";

#index {
  position: absolute;
  @include has20PX;
  //.mainBtn{
  //  width: 300px;
  //  height: 40px;
  //  position: fixed;
  //  top: 50%;
  //  left: 50%;
  //  margin-top: 22px;
  //  margin-left: -150px;
  //  z-index: 1000;
  //  a{
  //    width: 140px;
  //    height: 40px;
  //    display: block;
  //    border: 1px solid $linkColor;
  //    color: $linkColor;
  //    text-align: center;
  //    line-height:40px;
  //    @include transition-property(background-color);
  //    @include transition-duration(.5s);
  //  }
  //  a:hover{
  //    background: rgba(0,0,0,.6);
  //  }
  //  a:first-child{
  //    float: left;
  //  }
  //  a:last-child{
  //    float: right;
  //  }
  //}
  .moreNews {
    display: block;
    font-size: $font14;
    padding: 10px;
    border: 1px solid $smoke;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 160px;
    z-index: 2;
    @include transition-property(all);
    @include transition-duration(.3s);
  }
  .moreNews:hover {
    color: $linkColor;
    background: rgba(0, 0, 0, 0.6);
  }
  #logo {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -115px;
    margin-top: -122px;
    z-index: 2;
  }
  .slider-bar {
    width: 100%;
    height: 120px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #585858;
    cursor: pointer;
    background: rgba(0, 0, 0, .2);
    li {
      width: calc(100% / 5 - 33px);
      height: 100%;
      float: left;
      border-right: 1px solid #585858;
      padding: 16px 16px 0 16px;
      @include transition-property(all);
      @include transition-duration(.3s);
      a {
        display: block;
        color: #707070;
        @include transition-property(all);
        @include transition-duration(.3s);
        span {
          display: block;
          font-size: $font12;
        }
        time {
          font-size: $font32;
        }
        h2 {
          font-size: $font14;
          //font-weight: 200;
        }
      }
      a:hover {
        color: $linkColor;
      }
    }
    li:last-child {
      border-right: none;
    }
    li:hover {
      color: $linkColor;
      background: rgba(0, 0, 0, .4);
    }
  }
  .slider {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    //overflow: hidden;
    z-index: 1;
    li {
      background-size: cover;
      background-position: center;
      height: 100%;
    }
  }
}