@import "./bootstrap/scss/bootstrap.scss";

.container {
  margin-top: 56px;
  min-width: 1200px;
}

.slider {
  .card-header {
    border-bottom: none;
  }
}
.uploadForm .form-control{
  line-height: 0.9;
}
.container{
  padding: 10px;
  background: #fff;
  border:1px solid #eaeaea;
}
.fade-transition {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
.file-preview-frame{
  box-shadow: none;
}
#pagination {
  height: 34px;
  ul{
    margin-top: 0;
    margin-bottom: 0;
  }
}
.pagination-info,
.pagination-go,
#pagination
{
  vertical-align:middle;
  display: inline-block;
}
.pagination-info{
  padding: 0 10px;
}
.pagination-go{
  .ipt{
    width: 40px;
    display: inline-block;
    margin: 0 10px;
    height: 34px;
  }
  a{
    vertical-align: bottom;
  }
}