@import "../shadow.scss";

$mapWidth: 70%;
$mapHeight: 600px;
#contactUs {
  width: 70%;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35%;
  margin-top: -300px;
  background: #fff;
  z-index: 1000;
  transition: all .3s ease;
  @include shadowOnSides($mapWidth, $mapHeight, 10px, rgba(0, 0, 0, .4));
  #GDMap {
    width: 100%;
    height: 100%;
  }
}